
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/base.css">
    
  </head>
  <body>
    <header>
     
    </header>
    <main>
      <h1>My Book Collection</h1>
      <!-- eventually, this will hold all of the users favorite books from the database -->
      <a href="/searches/new">search</a>
      <div>
        <ol>
          <% getBookList.forEach(book => { %>
            <li>
              <img src="<%= book.image_url%>" alt="">
              <h2><%= book.title %></h2>
              <p><%= book.author %></p>
              <a href="/book/<%= book.id%>">View Details</a>
            </li>
          <% }) %>
        </ol>
      </div>

    </main>
    <footer>

    </footer>
  </body>
</html>