<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
      <ul>
        <% library.forEach(book => { %>
          <li>This is the book: <%= book.title %></li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>